<form class="auth-form" (submit)="onSubmit($event)">
  <label [for]="registerForm.email().name()">Email</label>
  <input
    class="text-input"
    type="text"
    [id]="registerForm.email().name()"
    [field]="registerForm.email"
  />

  <label [for]="registerForm.userName().name()">Username</label>
  <input
    class="text-input"
    type="text"
    [id]="registerForm.userName().name()"
    [field]="registerForm.userName"
  />

  <label [for]="registerForm.password().name()">Password</label>
  <input
    class="text-input"
    type="password"
    [id]="registerForm.password().name()"
    [field]="registerForm.password"
  />

  <app-validation-errors [validationErrors]="registerForm().errors()" />

  <app-button variant="fill" [disabled]="registerForm().invalid()" type="submit" [fullWidth]="true">
    Register
  </app-button>
</form>
