.tags {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__link {
    color: var(--color-secondary);
    text-decoration: none;
    outline: none;
    transition: color var(--duration-standard) var(--animation-standard);

    &:focus-visible {
      color: var(--color-secondary-hover);
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--color-secondary-hover);
      }
    }
  }

  &__not-found {
    margin: 0;
  }

  &__form {
    width: 100%;
    animation: fadeInDown var(--duration-standard) var(--animation-standard) both;
  }

  &__errors {
    margin-top: 0.5rem;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }
}
