.tags {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__not-found {
    margin: 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    animation: fadeInDown var(--duration-standard) var(--animation-standard) both;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
}
