:root {
	--color-primary: #451a33;
	--color-secondary: #9e477d;
	--color-secondary-hover: #b5548f;
	--color-accent: #b45c50;
	--color-success: #356859;
	--color-danger: #a63a2c;
	--color-danger-hover: #c44536;
	--color-neutral: #3d3d44;
	--color-neutral-hover: #4a4850;
	--color-background: #1a1a1a;
	--color-text-primary: #ffeef0;

	--font-standard: 'Share Tech', serif;

	--text-size-standard: 1.1rem;

	--animation-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--animation-indeterminate: cubic-bezier(0.65, 0.815, 0.735, 0.395);

	--duration-standard: 200ms;

	--outline-width: 0.15rem;
	--outline-offset: 0.4rem;

	--outline-standard: var(--outline-width) solid var(--color-accent);
	--outline-danger: var(--outline-width) solid var(--color-danger);

	--radius-standard: 0.5rem;

	--shadow-secondary: 0 0.25rem 0.5rem rgba(158, 71, 112, 0.4);
	--shadow-accent: 0 0.25rem 0.5rem rgba(196, 107, 95, 0.4);
	--shadow-success: 0 0.25rem 0.5rem rgba(53, 104, 89, 0.4);
	--shadow-danger: 0 0.25rem 0.5rem rgba(196, 69, 54, 0.4);
	--shadow-neutral: 0 0.25rem 0.5rem rgba(85, 85, 102, 0.4);
}
