:root {
  --color-primary: #228d52;
  --color-primary-hover: #15ac59;
  --color-secondary: #2083742d;
  --color-accent: #4ad3bf;
  --color-success: #356859f1;
  --color-danger: #a63a2c;
  --color-danger-hover: #c44436;
  --color-neutral: #2b343b;
  --color-neutral-hover: #44525e;
  --color-background: #1a1a1a;
  --color-text-primary: #ffeef0;

  --font-standard: 'Share Tech', serif;
  --text-size-standard: 1.1rem;

  --animation-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-indeterminate: cubic-bezier(0.65, 0.815, 0.735, 0.395);
  --duration-standard: 200ms;

  --outline-standard: var(--outline-width) solid var(--color-accent);
  --outline-danger: var(--outline-width) solid var(--color-danger);
  --outline-width: 0.15rem;
  --outline-offset: 0.4rem;

  --radius-standard: 0.15rem;
}
