@let galleryItems = galleryPageStore.galleryItems();

<section class="gallery-page">
  <div class="container">
    <form class="gallery-page__search" (submit)="onSearch($event)">
      <input
        class="text-input"
        type="text"
        placeholder="Search by tags"
        [formField]="searchForm.tags"
      />

      <app-button variant="fill" type="submit">Search</app-button>
    </form>
    @if (galleryPageStore.filterMessage()) {
      <span class="gallery-page__results">
        {{ galleryPageStore.filterMessage() }}
      </span>
    }
    <div class="gallery-page__gallery-wrapper">
      <app-gallery [galleryItems]="galleryItems" />
    </div>
    <app-pagination
      [pageNumber]="galleryPageStore.pageNumber()"
      [totalPages]="galleryPageStore.totalPages()"
    />
  </div>
</section>
