.dialog {
  min-width: 17rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1.5rem;

  background-color: var(--color-background);
  border-radius: var(--radius-standard);
  border: 1px solid var(--color-primary);

  animation: fadeInDown var(--duration-standard) var(--animation-standard);

  &__title,
  &__message {
    max-width: 30rem;
  }

  &__title {
    margin: 0;
    margin-bottom: 1rem;
  }

  &__message {
    margin: 0;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }
}
