.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &__link {
    font-size: 1.2rem;
    text-decoration: none;
    color: inherit;
    padding: 0.25rem 0.5rem;
    border-radius: var(--radius-standard);
    transition: all var(--duration-standard) var(--animation-standard);
    border: 1px solid transparent;

    &:focus {
      outline: none;
    }

    &:focus-visible:not(&--active) {
      border: 1px solid var(--color-accent);
    }

    &:active {
      color: var(--color-primary-hover);
    }

    &--active {
      cursor: default;
      border: 1px solid var(--color-primary);
    }

    @media (any-hover: hover) {
      &:hover:not(&--active) {
        color: var(--color-primary-hover);
      }
    }
  }
}
