:root {
  --color-primary: #451a33;
  --color-secondary: #be5176;
  --color-accent: #803c53;
  --color-background: #1a1a1a;
  --color-text: #ffeef0;

  --font-standard: "Share Tech", serif;

  --text-size-standard: 1.1rem;

  --animation-standard: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-indeterminate: cubic-bezier(0.65, 0.815, 0.735, 0.395);

  --duration-standard: 200ms;
}
