.upload {
  text-align: center;

  &__drop {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    border: 2px dashed var(--color-primary);
    border-radius: var(--radius-standard);
    width: 70vh;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all var(--duration-standard) var(--animation-standard);

    &:focus-visible {
      outline: none;
      border-color: var(--color-accent);
    }

    @media (any-hover: hover) {
      &:hover:not(:focus-visible) {
        border-color: var(--color-primary-hover);
      }
    }

    &--drag-over {
      border-color: var(--color-primary-hover);
      animation: pulse 1.5s infinite;
    }
  }

  &__preview {
    max-width: 100%;
    max-height: 80vh;
    object-fit: cover;
    margin-bottom: 2rem;
  }

  &__progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
