.comment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;

  &__textarea {
    background-color: var(--color-background);
    color: inherit;
    padding: 1rem;
    resize: none;
    border-radius: var(--radius-standard);
    border: 1px solid var(--color-secondary);
    outline: none;

    &:focus-visible {
      border-color: var(--color-primary);
    }
  }

  &__add-comment {
    margin-left: auto;
  }
}
