.text-input {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 0.25rem;
    padding: 0 0.5rem;
    color: var(--color-text);
  }

  &__field {
    padding: 0.75rem 0.5rem;
    border: none;
    border-radius: var(--radius-standard);
    box-shadow: none;
    color: inherit;
    background-color: var(--color-secondary);
    transition: outline var(--duration-standard) var(--animation-standard);
    outline: var(--outline-width) solid transparent;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: var(--outline-standard);
    }

    &--error {
      &:focus-visible {
        outline: var(--outline-danger);
      }
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-text-fill-color: var(--color-secondary);
      caret-color: var(--color-secondary);
    }
  }

  &__error {
    font-size: 1rem;
    color: var(--color-danger);
    margin-top: 0.5rem;
    padding: 0 0.5rem;
    animation: fadeInDown var(--duration-standard) var(--animation-standard) both;
  }
}
