@if (totalPages() > 1) {
<nav class="pagination">
  <a
    class="pagination__link"
    [class.pagination__link--active]="pageNumber() === 1"
    [routerLink]="['/']"
    [queryParams]="{ page: null }"
    queryParamsHandling="merge"
    >1</a
  >
  @if (visiblePages()[0] > 2) {
  <span>…</span>
  } @for (page of visiblePages(); track $index) {
  <a
    class="pagination__link"
    [class.pagination__link--active]="pageNumber() === page"
    [routerLink]="[]"
    [queryParams]="{ page }"
    queryParamsHandling="merge"
    >{{ page }}</a
  >
  } @if (visiblePages()[visiblePages().length - 1] < totalPages() - 1) {
  <span>…</span>
  }
  <a
    class="pagination__link"
    [class.pagination__link--active]="pageNumber() === totalPages()"
    [routerLink]="[]"
    [queryParams]="{ page: totalPages() }"
    queryParamsHandling="merge"
    >{{ totalPages() }}</a
  >
</nav>
}
