.comment {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  border: 1px solid var(--color-neutral-hover);
  border-radius: var(--radius-standard);
  padding: 0.75rem;

  &__details {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__author {
    color: var(--color-primary-hover);
    font-size: 1.5rem;
    padding: 0;
  }

  &__date {
    font-size: 1rem;
  }

  &__delete {
    margin-left: auto;
  }

  &__message {
    width: 100%;
    font-size: 1.2rem;

    pre {
      margin: 0;
      white-space: pre-wrap;
      word-break: break-word;
      font-family: inherit;
    }
  }
}
