@let comment = this.comment();

<li class="comment">
  <div class="comment__details">
    <span class="comment__author">{{ comment.author }}</span>
    <span class="comment__date">{{ comment.createdAtUtc | date }}</span>

    @if (isAuthorOrAdmin()) {
    <div class="comment__delete">
      <app-button
        variant="danger"
        (click)="commentDeleted.emit(comment.id)"
        ariaLabel="Delete comment"
      >
        <app-icon name="delete" />
      </app-button>
    </div>
    }
  </div>

  <article class="comment__message">
    <pre>{{ comment.message }}</pre>
  </article>
</li>
