:host {
  width: 100%;
}

.progress-bar {
  width: 100%;
  height: 0.15rem;
  overflow: hidden;
  position: relative;
  contain: strict;
  pointer-events: none;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  &__fill {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(90deg, var(--color-accent), var(--color-primary));

    transform: translateX(-100%);
    will-change: transform;
    backface-visibility: hidden;

    &--determinate {
      transition: transform var(--duration-standard) var(--animation-standard);
    }

    &--indeterminate {
      animation: indeterminate 1.5s var(--animation-indeterminate) infinite;
    }
  }
}
