<header class="header">
  <div class="container">
    <nav class="header__nav">
      <a class="header__logo-link" routerLink="/">
        <img class="header__logo" src="/logo.svg" alt="Petrichor logo" />
      </a>

      <div class="header__links">
        @if (authStore.isAuthenticated()) {
        <app-user-nav />
        } @else {
        <app-button routerLink="login" variant="text">Login</app-button>
        <app-button routerLink="register" variant="text">Register</app-button>
        }
      </div>
    </nav>
  </div>
</header>
