.image-page {
  &__image {
    width: 100%;
    height: auto;
    max-height: 75vh;

    margin-bottom: 2rem;

    object-fit: contain;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
