.tags {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  &__item {
    display: flex;

    border-radius: var(--radius-standard);
    overflow: hidden;
  }

  &__name {
    padding: 0.5rem 0.75rem;
    background-color: var(--color-primary);
  }

  &__delete-icon {
    border-radius: 0;
  }

  &__not-found {
    margin: 0;
  }

  &__form {
    width: 100%;
    animation: fadeInDown var(--duration-standard) var(--animation-standard)
      both;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
  }
}
