@use './styles' as *;
@import 'normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #333 #252525;
}

body {
  margin: 0;
  background-color: var(--color-background);

  font-family: var(--font-standard);
  font-size: var(--text-size-standard);
  color: var(--color-text-primary);

  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #252525;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

/* Disable CDK's scroll compensation for dialogs */
.cdk-global-scrollblock:has(.dialog) {
  position: fixed !important;
  overflow: visible !important;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 1rem;
}

.container-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 5rem);
  padding: 1rem;

  @media (max-width: 48rem) {
    align-items: flex-start;
    padding-top: 3rem;
  }
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: min(90vw, 30rem);
}

.link {
  color: var(--color-primary);
  text-decoration: none;
  outline: none;
  transition: color var(--duration-standard) var(--animation-standard);

  &:focus-visible {
    color: var(--color-primary-hover);
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-primary-hover);
    }
  }
}

.text-input {
  width: 100%;
  padding: 0.75rem 0.5rem;
  border: none;
  border-radius: var(--radius-standard);
  box-shadow: none;
  color: inherit;
  background-color: var(--color-secondary);
  transition: outline var(--duration-standard) var(--animation-standard);
  outline: var(--outline-width) solid transparent;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--outline-standard);
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--color-secondary);
    caret-color: var(--color-secondary);
  }
}
