<form class="auth-form" (submit)="onSubmit($event)">
  <label [for]="loginForm.email().name()">Email</label>
  <input
    class="text-input"
    type="text"
    [id]="loginForm.email().name()"
    [formField]="loginForm.email"
    appAutoFocus
  />

  <label [for]="loginForm.password().name()">Password</label>
  <input
    class="text-input"
    type="password"
    [id]="loginForm.password().name()"
    [formField]="loginForm.password"
  />

  <app-validation-errors [validationErrors]="loginForm().errors()" />

  <app-button variant="fill" [disabled]="loginForm().invalid()" type="submit" [fullWidth]="true">
    Login
  </app-button>
</form>
